<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761665135775-dub65hkcm82493i0pov91l3tna58oudp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761665135775-dub65hkcm82493i0pov91l3tna58oudp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761665135775-1dpdnm4rh6jh8m3hlrlhga9aruq8rtls.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCk7TL5YKBMkyyf11fLjhYT7eeWYn5Gac</string>
	<key>GCM_SENDER_ID</key>
	<string>761665135775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gbc.lordmap</string>
	<key>PROJECT_ID</key>
	<string>lordmap-605f9</string>
	<key>STORAGE_BUCKET</key>
	<string>lordmap-605f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761665135775:ios:2ff03d329e224284b96eaa</string>
</dict>
</plist>